@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.wedding {
  font-family: "Dancing Script", cursive;
  color: #ace4ff;
  font-size: 35px;
  margin-top: 20px;
  border-color: white;
  border-style: solid;
  width: 400px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}
