@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.wedding {
  font-family: "Dancing Script", cursive;
  color: #ace4ff;
  font-size: 35px;
  margin-top: 20px;
  border-color: ivory;
  border-style: solid;
  width: 400px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

@media (max-width: 414px) {
  .wedding {
    font-family: "Dancing Script", cursive;
    color: #ace4ff;
    font-size: 35px;
    margin-top: 30px;
    border-color: ivory;
    border-style: solid;
    width: 300px;
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .wedding {
    font-family: "Dancing Script", cursive;
    color: #ace4ff;
    font-size: 35px;
    margin-top: 30px;
    border-color: ivory;
    border-style: solid;
    width: 300px;
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
}
