@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.countdown {
    font-size: 30px;
    font-family: 'Old Standard TT', serif;
    margin-left: -70px;
    margin-top: 80px;
    border-color: #004aad;
    border-style: solid;
    padding: 5px;
}

.wedding-countdown {
    font-size: 35px;
    padding-top: 75px;
    margin-left: -100px;
    color: #ace4ff;
    font-family: 'Dancing Script', cursive;
}

.detail {
    font-size: 35px;
    color: #ace4ff;
    font-family: 'Dancing Script', cursive;
    padding-top: 75px;
    margin-left: -50px;
}

.detailed {
    color: ivory;
    font-family: 'Old Standard TT', serif;
    font-size: 23px;
    padding-top: 10px;
    margin-left:-150px;
    border-style: solid;
    border-color: #004aad;
    width: 400px;
    height: 470px;
    text-align: center;
}

.linkregistrybed {
    color: none;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 36px;
    padding-bottom: 36px;
    border: none;
    margin-top: 20px;
    margin-left: -100px;
}

.linkregistrytarget {
    color: none;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    margin-left: -100px;
    margin-top: 10px;
}

.registry {
    font-size: 35px;
    padding-top: 15px;
    margin-left: -100px;
    color: #ace4ff;
    font-family: 'Dancing Script', cursive;   
}

.bedpic {
    height: 80px;
}

.targetpic {
    height: 173px;
}