@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.card {
  width: 38rem;
  height: 38rem;
  margin-top: 20px;
  margin-left: 50px;
  border: round;
  overflow-y: scroll;
  background-color: white;
  margin: auto;
  overflow-x: hidden;
}
.headertitle {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.name {
  font-family: "Old Standard TT", serif;
  padding-left: 20px;
  padding-top: 20px;
}

.selectBox {
  font-family: "Old Standard TT", serif;
  padding-left: 20px;
  width: 90%;
}

.filetmignon {
  margin-left: 40px;
  font-family: "Old Standard TT", serif;
}

.tuxedochicken {
  margin-left: 40px;
  font-family: "Old Standard TT", serif;
}

.veggie {
  margin-left: 40px;
  font-family: "Old Standard TT", serif;
}

#addperson {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 90px;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  padding: 3px 9px;
  border-radius: 15px;
  text-align: center;
}

.children {
  font-family: "Old Standard TT", serif;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

#button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

@media (max-width: 1050px) {
  .card {
    width: 95%;
    height: 70%;
    margin-top: 20px;
    margin-left: 50px;
    border: round;
    overflow-y: scroll;
    background-color: white;
    margin: auto;
  }
  .headertitle {
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 5px;
  }

  .name {
    font-family: "Old Standard TT", serif;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: -40px;
  }

  .dinner {
    margin-top: 0px;
    font-family: "Old Standard TT", serif;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  .filetmignon {
    font-family: "Old Standard TT", serif;
    margin-left: 20px;
    width: 51%;
  }

  .tuxedochicken {
    font-family: "Old Standard TT", serif;
    margin-left: 20px;
    width: 51%;
  }

  .veggie {
    font-family: "Old Standard TT", serif;
    margin-left: 20px;
    width: 51%;
    margin-bottom: 5px;
  }

  #addperson {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    padding: 3px 9px;
    border-radius: 15px;
    text-align: center;
  }

  .children {
    font-family: "Old Standard TT", serif;
    padding-left: 40px;
    padding-right: 40px;
  }

  #button-group {
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
}