@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"); 

.card {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    margin-left: 50px;
    border: round;
    overflow-y: scroll;
    background-color: ivory;
}
.headertitle {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}

.name {
    font-family: 'Old Standard TT', serif;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    font-weight: bold;
}

.dinner {
    margin-top: -5px;
    font-family: 'Old Standard TT', serif;
    padding-left: 70px;
    padding-bottom: 5px;
    font-weight: bold;
}

.filetmignon {
    font-family: 'Old Standard TT', serif;
    margin-left: 90px;
}

.tuxedochicken {
    font-family: 'Old Standard TT', serif;
}

.veggie {
    font-family: 'Old Standard TT', serif;
}

#addperson {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 275px;
    margin-bottom: 20px;
    width: 30px; 
    height: 30px; 
    padding: 3px 9px; 
    border-radius: 15px; 
    text-align: center;
  }

.children {
    font-weight: bold;
    font-family: 'Old Standard TT', serif;
    padding-left: 60px;
    padding-right: 60px;
}

#button-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }