.smallcard {
  width: 500px;
  height: 200px;
  overflow: hidden;
}

#cancel {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -30px;
  width: 30px;
  height: 30px;
  padding: 3px 11px;
  border-radius: 15px;
  text-align: center;
  color: gray;
  font-size: 14px;
  border: none;
  background-color: white;
}

.rowchange {
  width: 90%;
}

@media (max-width: 1050px) {
  .smallcard {
    width: 90%;
    height: 65%;
    overflow-y: hidden;
    margin-top: 10px;
  }

  #cancel {
    position: relative;
    right: -93%;
    margin-top: 2px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    padding: 3px 11px;
    border-radius: 5px;
    text-align: center;
    color: gray;
    font-size: 14px;
    border: none;
    background-color: white;
  }

  .rowchange {
    width: 90%;
  }
}