@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.navbar {
  color: white;
  justify-content: center;
  font-family: "Old Standard TT", serif;
  font-size: larger;
}

.home {
  margin: 5px;
  color: #ace4ff;
}

.rsvp {
  margin: 5px;
  color: #ace4ff;
}

.gallery {
  margin: 5px;
  color: #ace4ff;
}

.details {
  margin: 5px;
  color: #ace4ff;
}
